@mixin button-style {
    font-family: 'Karla';
    font-size: 18px;
    border: none;
    border-radius: 100px;
    padding: 16px 24px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
    span {
        display: inline-block;
        transition: transform 1.5s ease-in-out;
    }

    &:hover {
        border: 1px solid #3DCFB6;
        transition: border 125ms ease-in-out;
        color: #3DCFB6;

        span {
            transition: all 125ms ease-in-out;
            animation: moveTextLeftAndRight 1.5s ease-in-out infinite;
        }
    }
}



h1 {
    font-family: 'Fira Code';
    font-size: 100px;
    color: #D9D9D9;
    margin-top: 0;
    margin-bottom: 32px;
}

h2 {
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: 48px;
    color: #D9D9D9;
    margin: 0;
}

button {
    @include button-style;
}

@keyframes moveTextLeftAndRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-120%);
    }
    51% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(0);
    }
}

.head {
    background-image: url('/assets/img/design/background-head.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
}

.head-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    >div {
        display: flex;
        gap: 32px;
    }
}

.arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .vertical-line {
        width: 1px;
        background-color: #3DCFB6;
        height: 100vh;
        margin-top: 24px; 
    }
}

.right-side-container {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}

.email-container {
    
    a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-family: 'Karla';
        font-size: 18px;
        transform: rotate(-90deg) translateX(50%);
        
        &:hover {
            color: #3DCFB6;
        }
    }
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.icon-container {
    position: relative;
    display: flex;
    align-items: center;    
    justify-content: center;
    margin-bottom: 16px;

    img {
        position: absolute;
        cursor: pointer;
        transition: opacity 0.3s ease;

        &:nth-child(2) {
            opacity: 0;
            &.show {
                opacity: 1;
            }
        }

        &:first-child {
            opacity: 1;
            &.hide {
                opacity: 0;
            }
        }
    }

    .hover-dot {
        width: 8px;
        height: 8px;
        background-color: #3DCFB6;
        border-radius: 50%;
        margin-left: 48px;
        opacity: 0;
        transition: opacity 0.3s ease;

        &.show {
            opacity: 1;
        }
    }
}

.vertical-line {
    width: 1px;
    flex-grow: 1;
    background-color: #fff;
}