@mixin button-style {
    font-family: 'Karla';
    font-size: 18px;
    border: none;
    border-radius: 100px;
    padding: 16px 24px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    span {
        display: inline-block;
        white-space: nowrap;
    }

    &:hover {
        border: 1px solid #3DCFB6;
        color: #3DCFB6;

        span {
            animation: moveText 2s linear infinite;
        }
    }
}

@keyframes moveText {
    0% {
        transform: translateX(125%);
    }
    100% {
        transform: translateX(-125%);
    }
}

h1 {
    font-family: 'Fira Code';
    font-size: 100px;
    color: #D9D9D9;
    margin-top: 0;
    margin-bottom: 32px;
}

h2 {
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: 48px;
    color: #D9D9D9;
    margin: 0;
}

button {
    @include button-style;
}

.head {
    position: relative;
    background-image: url('/assets/img/design/background-head.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0 100px;

    .head-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        max-width: 100%;
        margin: 0 auto;

        h1 {
            font-size: 90px;
            font-weight: 700;
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 32px;
            font-weight: 400;
            color: #6AD7BF;
            text-align: center;
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            gap: 32px;

            .contact-button,
            .projects-button {
                @include button-style;
            }

            .contact-button {
                background-color: #6AD7BF;
                color: #000;
                margin-right: 16px;
            }

            .projects-button {
                background-color: transparent;
                color: #fff;
                border: 1px solid #fff;
            }
        }
    }
}

.arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    left: 100px;
    top: 60%;
    height: -webkit-fill-available;

    .vertical-line {
        width: 1px;
        background-color: #3DCFB6;
        height: 100vh;
        margin-top: 24px;
    }
}

.right-side-container {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}

.email-container {

    a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-family: 'Karla';
        font-size: 18px;
        transform: rotate(-90deg) translateX(50%);

        &:hover {
            color: #3DCFB6;
        }
    }
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

    img {
        position: absolute;
        cursor: pointer;
        transition: opacity 0.3s ease;

        &:nth-child(2) {
            opacity: 0;

            &.show {
                opacity: 1;
            }
        }

        &:first-child {
            opacity: 1;

            &.hide {
                opacity: 0;
            }
        }
    }

    .hover-dot {
        width: 8px;
        height: 8px;
        background-color: #3DCFB6;
        border-radius: 50%;
        margin-left: 48px;
        opacity: 0;
        transition: opacity 0.3s ease;

        &.show {
            opacity: 1;
        }
    }
}

.vertical-line {
    width: 1px;
    flex-grow: 1;
    background-color: #fff;
}

@media (max-width: 1024px) {
    .head {
        padding: 0 24px;
    }

    .head-content {
        >div {
            gap: 16px;
        }
    }

    .right-side-container {
        height: 30%;
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 32px;
    }

    button {
        font-size: 16px;
        padding: 12px 20px;
    }
}

@media (max-width: 768px) {
    .head-content {
        h1 {
            font-size: 48px;
        }
    }

    .right-side-container {
        right: 100px;
    }

    .email-container {
        display: none;
    }

    .arrow-container {
        top: 66%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .right-side-container {
        right: 0;
    }

    .arrow-container {
        left: 8px;
        top: 66%!important;
    }

    button {

        span {
            font-size: 14px!important;
        }

        padding: 16px!important;
    }

    h1 {
        font-size: 32px!important;
    }

    h2 {
        font-size: 24px;
    }
}

@media (min-width: 1920px) {
    .head {
        min-width: max-content;
    }
}

@media (min-width: 1600px) {
    .head {
        .head-content {
            max-width: 1400px;

            h1 {
                font-size: 120px;
            }

            h2 {
                font-size: 48px;
            }
        }
    }
}