.project-detail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.project-detail-content {
  width: 1248px;
  background: url('/assets/img/design/background-head.png') no-repeat center center / cover;
  border-radius: 30px;
  border: 1px solid #3DCFB6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  position: relative;
  height: 675px;

  @media (max-width: 1024px) {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 24px;
  }
}

.left-content,
.right-content {
  position: relative;
}

.left-content {
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;

  @media (max-width: 1160px) {
    gap: 0;
  }

  @media (max-width: 1024px) {
    padding-left: 0;
    max-width: 100%;
  }
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.project-image {
  margin-top: 48px;

  img {
    width: 520px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;

    @media (max-width: 1024px) {
      width: 342px;
      height: 216px;
      max-width: 100%;
    }

    @media (max-width: 454px) {
      height: 160px;
      object-fit: contain;
    }
  }
}

.next-project {
  position: absolute;
  bottom: 16px;
  right: 14px;
  left: 175%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 9999;

  @media (max-width: 1024px) {
    position: static;
  }

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #3DCFB6;
    font-size: 18px;
    font-family: 'Karla';
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      color: #fff;

      .arrow-container {
        transform: scale(1.1) translateX(4px);
      }
    }

    .arrow-container {
      position: relative;
      width: 48px;
      height: 48px;
      transition: transform 125ms ease;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 1;

  @media (max-width: 1024px) {
    top: 64px;
  }

  .close-icon,
  .close-icon-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 125ms ease;
  }

  .close-icon-hover {
    opacity: 0;
  }

  &:hover {
    .close-icon {
      opacity: 0;
    }

    .close-icon-hover {
      opacity: 1;
    }
  }
}

.project-skills {
  margin: 20px 0;
  color: #fff;
  display: flex;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    gap: 8px;
  }

  .skill-icon {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 16px;

    .language-label {
      font-family: 'Karla';
      font-size: 16px;
      color: #fff;
    }
  }
}

.project-buttons {
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}

button {
  font-family: "Karla";
  font-size: 18px;
  border: none;
  border-radius: 100px;
  padding: 16px 24px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;

  @media (max-width: 567px) {
    font-size: 16px;
    padding: 12px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  span {
    display: flex;
    align-items: center;
    gap: 4px;

    img {
      width: 20px;
      height: 20px;
      transition: transform 125ms ease;
    }
  }

  &:hover {
    border: 1px solid #3DCFB6;
    transition: border 125ms ease-in-out;

    a {
      color: #3DCFB6;
    }

    img {
      transform: scale(1.2) translate(2px, -2px);
    }
  }
}

.project-about {

  h3 {
    font-family: 'Fira Code';
    font-weight: 700;

    @media (max-width: 1024px) {
      margin: 0;
    }

    @media (max-width: 411px) {
      font-size: 20px !important;
    }
  }

  p {
    font-size: 18px;
    font-family: 'Karla';
    color: #fff;

    @media (max-width: 1024px) {
      margin-bottom: 0;
      font-size: 16px;
    }
  }
}

.project-header {

  h1:first-child {
    font-family: 'Karla';
    font-size: 128px;

    @media (max-width: 567px) {
      font-size: 64px !important;
    }
  }

  h1:last-child {
    color: #fff;

    @media (max-width: 567px) {
      font-size: 48px !important;
    }
  }

  @media (max-width: 1024px) {
    h1:first-child {
      font-size: 88px;
    }

    h1:last-child {
      font-size: 64px;
    }
  }

  @media (max-width: 411px) {
    h1:first-child {
      font-size: 48px !important;
    }

    h1:last-child {
      font-size: 32px !important;
    }
  }
}

@media (max-width: 1024px) {
  .project-detail-content {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
  }
}
