<div class="contact-form">
    <div class="left-container">
        <h3>{{ 'CONTACT_ME' | translate }}</h3>
        <h1>{{ 'LETS_WORK_TOGETHER' | translate }}</h1>
        <h3>{{ 'GOT_A_PROBLEM_TO_SOLVE' | translate }}</h3>
        <p>{{ 'CONTACT_FORM_TEXT_1' | translate }}</p>
        <p>{{ 'CONTACT_FORM_TEXT_2' | translate }} <span>{{ 'CONTACT_FORM_TEXT_2_SPAN' | translate }}</span></p>
    </div>
    <div class="right-container">
        <hr class="separator-line">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="input-group">
            <ng-container *ngFor="let field of formFields">
                <h3>{{ field.label | translate }}</h3>
                <ng-container [ngSwitch]="field.type">
                    <ng-container *ngSwitchCase="'text'">
                        <input [(ngModel)]="contactData.name" [type]="field.type" [placeholder]="'YOUR_NAME_PLACEHOLDER' | translate"
                            name="name" required #nameInput="ngModel">
                        @if (nameInput.invalid && nameInput.touched) {
                        <span class="error-message">{{ 'NAME_MISSING' | translate }}</span>
                        }
                    </ng-container>

                    <ng-container *ngSwitchCase="'email'">
                        <input [(ngModel)]="contactData.email" [type]="field.type" [placeholder]="'YOUR_EMAIL_PLACEHOLDER' | translate"
                            name="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required
                            #emailInput="ngModel">
                        @if (emailInput.invalid && emailInput.touched) {
                        <span class="error-message">{{ 'EMAIL_REQUIRED' | translate }}</span>
                        }
                    </ng-container>

                    <ng-container *ngSwitchCase="'textarea'">
                        <textarea minlength="10" [(ngModel)]="contactData.message" [placeholder]="'YOUR_MESSAGE_PLACEHOLDER' | translate"
                            name="message" required #message="ngModel"></textarea>
                        @if (message.invalid && message.touched) {
                        <span class="error-message">{{ 'MESSAGE_REQUIRED' | translate }}</span>
                        }
                    </ng-container>
                </ng-container>
                <hr class="separator-line">
            </ng-container>
            <div class="privacy-checkbox">
                <div class="custom-checkbox">
                    <input type="checkbox" id="privacy" required [(ngModel)]="privacyAccepted" name="privacy">
                    <img [src]="checkboxImages.unchecked" alt="checkbox" class="checkbox-img unchecked">
                    <img [src]="checkboxImages.hover" alt="checkbox" class="checkbox-img hover">
                    <img [src]="checkboxImages.checked" alt="checkbox" class="checkbox-img checked">
                    <img [src]="checkboxImages.checkedHover" alt="checkbox" class="checkbox-img checked-hover">
                </div>
                <label class="privacy-policy-text">
                    {{ 'PRIVACY_POLICY_TEXT_PART_1' | translate }}
                    <a class="privacy-policy-link" href="#">{{ 'PRIVACY_POLICY_TEXT_LINK' | translate }}</a>
                    {{ 'PRIVACY_POLICY_TEXT_PART_2' | translate }}
                </label>
            </div>
            <span class="error-message" *ngIf="!privacyAccepted && contactForm.submitted">{{ 'ACCEPT_PRIVACY_POLICY' | translate }}</span>
            <button type="submit" class="send-button">{{ 'SEND_MESSAGE' | translate }}</button>
        </form>
    </div>
</div>