@import '../about-me/about-me.component.scss';
@import '../../head/head.component.scss';

.skill-set-content {
    position: relative;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons-container-wrapper {
    display: contents;
}

.border-skill-set {
    @include border-style;
    color: #D9D9D9;

    h1 {
        font-size: 64px;
        color: #3DCFB6;
    }

    p:last-child {
        display: block;
    }
}

p:last-child {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Fira Code';

    span {
        font-family: 'Fira Code';
        font-size: 24px;
        color: #3DCFB6;
    }
}

.skill-set-content-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    .icons-container {
        display: flex;
        max-width: 50%;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 32px;
        padding-right: 0px;

        img {
            width: 60px;
            height: 60px;

            &:hover {
                transition: all 125ms ease;
                transform: scale(1.1);
            }
        }
    }
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-family: 'Fira Code';
    gap: 8px;
    width: 104px;
    height: 116px;
    position: relative;

    &:last-child {
        &:hover {
            color: #3DCFB6;
        }

        &:hover::after {
            content: '';
            position: absolute;
            top: -109px;
            left: 0;
            width: 188px;
            height: 129px;
            background-image: url('../../../assets/img/design/interest.png');
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;
        }
    }

    img {
        position: relative;
        z-index: 0;
    }
}

@media (max-width: 1024px) {
    .border-skill-set {
        padding: 24px !important;

        h1 {
            font-size: 32px;
        }

        p {
            font-size: 16px;
        }

        span {
            font-size: 16px !important;
        }
    }

    .icons-container {
        gap: 8px !important;

        img {
            width: 40px !important;
            height: 40px !important;
        }
    }

    .icon-wrapper {
        justify-content: baseline;
    }
}

@media (max-width: 768px) {
    .skill-set-content-container {
        flex-direction: column;
    }

    .border-skill-set {
        max-width: 100% !important;
        width: auto !important;
    }

    .icons-container {
        max-width: 100% !important;
        padding-top: 32px;
        gap: 16px !important;

        img {
            width: 60px !important;
            height: 60px !important;
        }
    }
}

@media (max-width: 425px) {
    .border-skill-set {
        padding: 16px !important;
    }

    .icons-container {
        gap: 8px !important;

        img {
            width: 32px !important;
            height: 32px !important;
        }
    }

    .icon-wrapper {
        width: 80px !important;
        height: 88px !important;
    }
}

@media (min-width: 2560px) {
    .skill-set-content-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .icons-container {
            display: flex;
            max-width: 24%;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 32px;
            padding-right: 0px;
        }
    }

    .border-skill-set {
        color: #fff;
        border: 1px solid #3DCFB6;
        border-radius: 32px;
        background-color: #1F2E2B;
        padding: 32px;
        width: 568px;
        max-width: 100%;
        color: #D9D9D9;
        display: flex;
        align-self: end;
        flex-direction: column;
    }

    .skill-set-content-container-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}