.privacy-policy {
    background-image: url('../../../../assets/img/design/background-head.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    max-width: 100%;
    font-family: 'Karla', sans-serif;
    padding: 24px 100px;

    p {
        color: #fff;
    }

    li {
        color: #fff;
    }

    h2 {
        color: #3DCFB6;
    }

    h4 {
        color: #fff;
    }

    a {
        color: #fff;
        font-weight: 600;
        font-size: 18px;
    }

    a:last-child {
        display: flex;
        align-items: center;
    }

    @media (max-width: 768px) {
        padding: 24px 24px;

        h1 {
            font-size: 32px;
        }
        a {
            font-size: 16px;
        }
    }
}