.privacy-policy {
    background-image: url('../../../../assets/img/design/background-head.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100%;
}