<div class="privacy-policy">
  <div class="navbar-container">
    <app-navbar></app-navbar>
  </div>
  <div class="privacy-policy-container">
    <h1>{{ 'PRIVACY_POLICY_TITLE' | translate }}</h1>
    <h2>{{ 'PRIVACY_POLICY_SECTION_1_TITLE' | translate }}</h2>
    <h3>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_1' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_1_PARAGRAPH_1' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_2' | translate }}</h3>
    <h4>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_2_QUESTION_1' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_2_ANSWER_1' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_2_QUESTION_2' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_2_ANSWER_2_PARAGRAPH_1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_2_ANSWER_2_PARAGRAPH_2' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_2_QUESTION_3' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_2_ANSWER_3' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_2_QUESTION_4' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_2_ANSWER_4_PARAGRAPH_1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_2_ANSWER_4_PARAGRAPH_2' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_3' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_3_PARAGRAPH_1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_1_SUBTITLE_3_PARAGRAPH_2' | translate }}</p>
    <h2>{{ 'PRIVACY_POLICY_SECTION_2_TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY_POLICY_SECTION_2_PARAGRAPH_1' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_2_SUBTITLE_1' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_2_SUBTITLE_1_PARAGRAPH_1' | translate }} <a
        href="https://all-inkl.com/datenschutzinformationen/" target="_blank"
        rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a>.</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_2_SUBTITLE_1_PARAGRAPH_2' | translate }}</p>

    <h4>{{ 'PRIVACY_POLICY_SECTION_2_SUBTITLE_1_SUBTITLE_1' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY_SECTION_2_SUBTITLE_1_SUBTITLE_1_PARAGRAPH_1' | translate }}</p>
    <h2>{{ 'PRIVACY_POLICY_SECTION_3_TITLE' | translate }}</h2>
    <h3>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_1' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_1_PARAGRAPH_1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_1_PARAGRAPH_2' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_1_PARAGRAPH_3' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_2' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_2_PARAGRAPH_1' | translate }}</p>
    <p>Fuad Hussen<br />
      L&uuml;tzenkirchener Str. 271<br />
      51381 Leverkusen</p>

    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_2_PARAGRAPH_2' | translate }}<br />
      {{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_2_PARAGRAPH_3' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_2_PARAGRAPH_4' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_3' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_3_PARAGRAPH_1' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_4' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_4_PARAGRAPH_1' | translate }}</p>

    <h3>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_5' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_5_PARAGRAPH_1' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_6' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_6_PARAGRAPH_1' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_7' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_7_PARAGRAPH_1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_7_PARAGRAPH_2' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_8' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_8_PARAGRAPH_1' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_9' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_9_PARAGRAPH_1' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_10' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_10_PARAGRAPH_1' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_11' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_11_PARAGRAPH_1' | translate }}</p>
    <ul>
      <li>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_11_LIST_ITEM_1' | translate }}</li>
      <li>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_11_LIST_ITEM_2' | translate }}</li>
      <li>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_11_LIST_ITEM_3' | translate }}</li>
      <li>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_11_LIST_ITEM_4' | translate }}</li>
    </ul>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_11_PARAGRAPH_2' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_12' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_12_PARAGRAPH_1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_3_SUBTITLE_12_PARAGRAPH_2' | translate }}</p>
    <h2>{{ 'PRIVACY_POLICY_SECTION_4_TITLE' | translate }}</h2>
    <h3>{{ 'PRIVACY_POLICY_SECTION_4_SUBTITLE_1' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_4_SUBTITLE_1_PARAGRAPH_1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_4_SUBTITLE_1_PARAGRAPH_2' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_4_SUBTITLE_1_PARAGRAPH_3' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY_SECTION_4_SUBTITLE_2' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_4_SUBTITLE_2_PARAGRAPH_1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_4_SUBTITLE_2_PARAGRAPH_2' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_4_SUBTITLE_2_PARAGRAPH_3' | translate }}</p>
    <h2>{{ 'PRIVACY_POLICY_SECTION_5_TITLE' | translate }}</h2>
    <h3>{{ 'PRIVACY_POLICY_SECTION_5_SUBTITLE_1' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY_SECTION_5_SUBTITLE_1_PARAGRAPH_1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY_SECTION_5_SUBTITLE_1_PARAGRAPH_2' | translate }} <a
        href="https://developers.google.com/fonts/faq" target="_blank"
        rel="noopener noreferrer">https://developers.google.com/fonts/faq</a> {{
      'PRIVACY_POLICY_SECTION_5_SUBTITLE_1_PARAGRAPH_2_PART_2' | translate }} <a
        href="https://policies.google.com/privacy?hl=de" target="_blank"
        rel="noopener noreferrer">https://policies.google.com/privacy?hl=de</a>.</p>
    <p>{{ 'PRIVACY_POLICY_SOURCE' | translate }} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
    <a (click)="goHome()" routerLink=""> <img src="assets/img/design/arrow-left.png" alt="Arrow Left">{{
      'PRIVACY_POLICY_BACK_TO_PORTFOLIO' | translate }}</a>
  </div>
</div>