.navbar {
    font-family: 'Fira Code';
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;

    >div {
        display: flex;
        gap: 24px;

        >a {
            position: relative;
            text-decoration: none;
            color: #fff;

            &:not(:first-child) {
                &:hover::after {
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 6px;
                    height: 6px;
                    background-color: #6AD7BF;
                    border-radius: 50%;
                    opacity: 0;
                    animation: fadeIn 125ms ease-in-out forwards;
                }
            }

            &:active {
                color: #3DCFB6;
            }
        }
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }
}

.logo-container {
    position: relative;
    cursor: pointer;
    width: 155px;
    height: 50px;

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 125ms ease-in-out;
    }

    .outline {
        opacity: 0;
    }

    &:hover {
        .filled {
            opacity: 0;
        }

        .outline {
            opacity: 1;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.language-switcher {
    .image-container {
        position: relative;
        width: 88px;

        img {
            transition: opacity 125ms ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
        }

        .default-image {
            opacity: 1;
        }

        .hover-image {
            opacity: 0;
        }

        &:hover {
            .default-image {
                opacity: 0;
            }

            .hover-image {
                opacity: 1;
            }
        }
    }
}

.dropdown-menu {
    width: 238px;
    height: 252px;
    border-radius: 30px;
    border: 1px solid #3DCFB6;
    background-image: url('/assets/img/design/background-head.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: absolute;
    right: 16px;
    
    a {
      color: #fff;
      text-decoration: none;
      font-family: 'Fira Code';
      font-size: 18px;
  
      &:hover {
        color: #3DCFB6;
      }
    }
  }

@media (min-width: 768px) {
    .burger-menu {
        display: none!important;
    }

    .dropdown-menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .burger-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        img {
            cursor: pointer;
        }
    }
}