<div class="burger-menu" (click)="toggleMenu()">
  <div>
    <!-- Gefülltes SVG (Standard) -->
    <svg
      class="logo filled"
      width="155"
      height="50"
      viewBox="0 0 155 50"
      fill="#3DCFB6"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0)">
        <!-- Schiefes F -->
        <path d="M5 1H30V5H10V18H25V22H10V45H5V1Z" stroke="#3DCFB6" />
        <!-- Normales H -->
        <path d="M5 28V47H10V38H25V47H30V28H25V35H10V28H5Z" stroke="#3DCFB6" />
      </g>
      <defs>
        <clipPath id="clip0">
          <rect
            width="35.168"
            height="48"
            fill="white"
            transform="translate(0 1)"
          />
        </clipPath>
      </defs>
    </svg>
  </div>

  <img
    [src]="
      isMenuHovered
        ? assets.img.design['burger-menu-hover.png']
        : assets.img.design['burger-menu.png']
    "
    alt="Menu"
    (mouseenter)="isMenuHovered = true"
    (mouseleave)="isMenuHovered = false"
  />
</div>

<div data-aos="fade-down" class="navbar">
  <div>
    <a
      href="javascript:void(0)"
      (click)="toggleLanguage()"
      class="language-switcher"
    >
      <div class="image-container">
        <!-- Englisch ausgewählt -->
        <img
          *ngIf="isEnglish"
          [src]="images.enSelected"
          class="default-image"
        />
        <img *ngIf="isEnglish" [src]="images.enHover" class="hover-image" />

        <!-- Deutsch ausgewählt -->
        <img
          *ngIf="!isEnglish"
          [src]="images.deSelected"
          class="default-image"
        />
        <img *ngIf="!isEnglish" [src]="images.deHover" class="hover-image" />
      </div>
    </a>
    <a href="javascript:void(0)" (click)="scrollToSection('about-me')">{{
      "ABOUT_ME" | translate
    }}</a>
    <a href="javascript:void(0)" (click)="scrollToSection('skills')">{{
      "SKILLS" | translate
    }}</a>
    <a href="javascript:void(0)" (click)="scrollToSection('projects')">{{
      "PROJECTS" | translate
    }}</a>
  </div>
  <div class="logo-container">
    <!-- Gefülltes SVG (Standard) -->
    <svg
      class="logo filled"
      width="155"
      height="50"
      viewBox="0 0 155 50"
      fill="#3DCFB6"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0)">
        <!-- Schiefes F -->
        <path d="M5 1H30V5H10V18H25V22H10V45H5V1Z" stroke="#3DCFB6" />
        <!-- Normales H -->
        <path d="M5 28V47H10V38H25V47H30V28H25V35H10V28H5Z" stroke="#3DCFB6" />
      </g>
      <!-- Text daneben -->
      <text
        x="40"
        y="22"
        fill="white"
        font-weight="bold"
        font-size="32"
        font-family="Karla"
      >
        Fuad
      </text>
      <text
        x="40"
        y="46"
        fill="white"
        font-weight="bold"
        font-size="32"
        font-family="Karla"
      >
        Hussen
      </text>
      <defs>
        <clipPath id="clip0">
          <rect
            width="35.168"
            height="48"
            fill="white"
            transform="translate(0 1)"
          />
        </clipPath>
      </defs>
    </svg>

    <!-- Umriss SVG (Hover) -->
    <svg
      class="logo outline"
      width="155"
      height="50"
      viewBox="0 0 155 50"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0)">
        <!-- Schiefes F -->
        <path
          d="M5 1H30V5H10V18H25V22H10V45H5V1Z"
          fill="none"
          stroke="#3DCFB6"
        />
        <!-- Normales H -->
        <path
          d="M5 28V47H10V38H25V47H30V28H25V35H10V28H5Z"
          fill="none"
          stroke="#3DCFB6"
        />
      </g>
      <!-- Text daneben -->
      <text
        x="40"
        y="22"
        stroke="white"
        fill="none"
        font-weight="700"
        font-size="32"
        font-family="Karla"
      >
        Fuad
      </text>
      <text
        x="40"
        y="46"
        stroke="white"
        fill="none"
        font-weight="700"
        font-size="32"
        font-family="Karla"
      >
        Hussen
      </text>
      <defs>
        <clipPath id="clip0">
          <rect
            width="35.168"
            height="48"
            fill="white"
            transform="translate(0 1)"
          />
        </clipPath>
      </defs>
    </svg>
  </div>
</div>

<div class="dropdown-menu" *ngIf="isMenuOpen">
  <a href="javascript:void(0)" (click)="scrollToSection('about-me')">{{
    "ABOUT_ME" | translate
  }}</a>
  <a href="javascript:void(0)" (click)="scrollToSection('skills')">{{
    "SKILLS" | translate
  }}</a>
  <a href="javascript:void(0)" (click)="scrollToSection('projects')">{{
    "PROJECTS" | translate
  }}</a>
  <a
    href="javascript:void(0)"
    (click)="toggleLanguage()"
    class="language-switcher"
  >
    <div class="image-container">
      <!-- Englisch ausgewählt -->
      <img *ngIf="isEnglish" [src]="images.enSelected" class="default-image" />
      <img *ngIf="isEnglish" [src]="images.enHover" class="hover-image" />

      <!-- Deutsch ausgewählt -->
      <img *ngIf="!isEnglish" [src]="images.deSelected" class="default-image" />
      <img *ngIf="!isEnglish" [src]="images.deHover" class="hover-image" />
    </div>
  </a>
</div>
