<div class="stripe-container">
    <div class="stripe-content">
        <div class="dot"></div>
        <span>{{ 'FRONTEND_DEVELOPER' | translate }}</span>
        <div class="dot"></div>
        <span>{{ 'BASED_IN_STUTTGART' | translate }}</span>
        <div class="dot"></div>
        <span>{{ 'OPEN_TO_WORK' | translate }}</span>
        <div class="dot"></div>
        <span>{{ 'AVAILABLE_FOR_REMOTE_WORK' | translate }}</span>
        <div class="dot"></div>
        <span>{{ 'FRONTEND_DEVELOPER' | translate }}</span>
        <div class="dot"></div>
        <span>{{ 'BASED_IN_STUTTGART' | translate }}</span>
        <div class="dot"></div>
        <span>{{ 'OPEN_TO_WORK' | translate }}</span>
        <div class="dot"></div>
        <span>{{ 'AVAILABLE_FOR_REMOTE_WORK' | translate }}</span>
        <div class="dot"></div>
        <span>{{ 'FRONTEND_DEVELOPER' | translate }}</span>
        <div class="dot"></div>
        <span>{{ 'BASED_IN_STUTTGART' | translate }}</span>
        <div class="dot"></div>
        <span>{{ 'OPEN_TO_WORK' | translate }}</span>
        <div class="dot"></div>
        <span>{{ 'AVAILABLE_FOR_REMOTE_WORK' | translate }}</span>
        <div class="dot"></div>
    </div>
</div>
