/* karla-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/karla/karla-v31-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/karla/karla-v31-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/karla/karla-v31-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/karla/karla-v31-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/karla/karla-v31-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/karla/karla-v31-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* fira-code-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/fira/fira-code-v22-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/fira/fira-code-v22-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/fira/fira-code-v22-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/fira/fira-code-v22-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/fira/fira-code-v22-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
    box-sizing: border-box;
}

.cursor {
    width: 20px;
    height: 20px;
    border: 2px solid #3DCFB6;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
}

.cursor-shadow {
    width: 40px;
    height: 40px;
    background: rgba(223, 223, 223, 0.3);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9998;
    transition: transform 0.1s ease;
}

.cursor-glow {
    width: 200px;
    height: 200px;
    background: radial-gradient(circle,
            rgba(61, 207, 182, 0.5) 0%,
            rgba(61, 207, 182, 0.3) 20%,
            rgba(61, 207, 182, 0.1) 40%,
            transparent 60%);
    position: fixed;
    pointer-events: none;
    z-index: 9998;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease;
    mix-blend-mode: screen;
}

h1 {
    margin: 0;
    margin-bottom: 16px;
    font-size: 64px;
    font-family: 'Fira Code';
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-family: 'Karla';
}

p,
span {
    font-family: 'Karla';
    font-size: 18px;
}