<footer>
  <div>
    <div class="logo-container">
      <!-- Gefülltes SVG (Standard) -->
      <svg class="logo filled" width="155" height="50" viewBox="0 0 155 50" fill="#3DCFB6"
        xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
          <!-- Schiefes F -->
          <path d="M5 1H30V5H10V18H25V22H10V45H5V1Z" stroke="#3DCFB6" />
          <!-- Normales H -->
          <path d="M5 28V47H10V38H25V47H30V28H25V35H10V28H5Z" stroke="#3DCFB6" />
        </g>
        <!-- Text daneben -->
        <text x="40" y="22" fill="white" font-weight="bold" font-size="32" font-family="Karla">Fuad</text>
        <text x="40" y="46" fill="white" font-weight="bold" font-size="32" font-family="Karla">Hussen</text>
        <defs>
          <clipPath id="clip0">
            <rect width="35.168" height="48" fill="white" transform="translate(0 1)" />
          </clipPath>
        </defs>
      </svg>

      <!-- Umriss SVG (Hover) -->
      <svg class="logo outline" width="155" height="50" viewBox="0 0 155 50" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
          <!-- Schiefes F -->
          <path d="M5 1H30V5H10V18H25V22H10V45H5V1Z" fill="none" stroke="#3DCFB6" />
          <!-- Normales H -->
          <path d="M5 28V47H10V38H25V47H30V28H25V35H10V28H5Z" fill="none" stroke="#3DCFB6" />
        </g>
        <!-- Text daneben -->
        <text x="40" y="22" stroke="white" fill="none" font-weight="700" font-size="32" font-family="Karla">Fuad</text>
        <text x="40" y="46" stroke="white" fill="none" font-weight="700" font-size="32"
          font-family="Karla">Hussen</text>
        <defs>
          <clipPath id="clip0">
            <rect width="35.168" height="48" fill="white" transform="translate(0 1)" />
          </clipPath>
        </defs>
      </svg>
    </div>

    <p>Web Developer <br> Stuttgart Germany</p>
  </div>

  <div>
    <p>© Fuad Hussen 2024</p>
  </div>

  <div>
    <p><a href="https://github.com/FuadHussen" target="_blank">Github</a></p>
    <p><a href="mailto:contact@fuad-hussen.com">Email</a></p>
    <p><a routerLink="/legal-notice">Legal Notice</a></p>
  </div>
</footer>